/* ------------------------------------------
	Page style - not required for forms
------------------------------------------ */
body {
	font-family: Gafata, 'Open Sans', Arial, sans-serif;
	background: #fff url('../images/top-bg.jpg') center top no-repeat;
}

h2 {
	margin: 0 0 30px;
}

h3 {
	margin: 0 0 20px;
}

.header h1 {
	margin: 50px 0;
	font-size: 36px;
	line-height: 50px;
	color: #fff;
	text-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

.content {
	margin-bottom: 50px;
	padding: 50px 0;
	border: 1px solid #eee;
	border-bottom-width: 5px;
	background: #fff;
}

.sidebar .nav {
	margin-bottom: 50px;
	background: #fcfcfc;
	border-right: 3px solid #eee;
}

.sidebar .nav-stacked > li + li {
	margin: 0;
}

.sidebar .nav-pills li a  {
	color: #333;
	-webkit-border-radius:	0;
	-moz-border-radius:		0;
	border-radius:			0;
}

.sidebar .nav-pills > li.active > a,
.sidebar .nav-pills > li > a:hover,
.sidebar .nav-pills > li > a:focus {
	color: #fff;
	background: #4fd0fb;
	-webkit-box-shadow:	3px 0 0 #3fc0eb;
	-moz-box-shadow:	3px 0 0 #3fc0eb;
	box-shadow:			3px 0 0 #3fc0eb;
}

.sidebar .nav-pills li a .new {
	margin: 0 5px;
	padding: 1px 3px;
	font-family: Arial, sans-serif;
	font-size: 9px;
	text-transform: uppercase;
	border: 1px solid #900;
	color: #fff;
	background: #f55;
}